---
layout: default
---

<section class="py-16 bg-white">
  <div class="max-w-3xl mx-auto px-6">

  <div class="flex items-center justify-between mb-8">
  <button onclick="history.back()" 
          class="px-4 py-2 bg-gray-100 rounded-lg shadow hover:bg-gray-200">
    ← Atrás
  </button>

  <button onclick="history.forward()" 
          class="px-4 py-2 bg-gray-100 rounded-lg shadow hover:bg-gray-200">
    Adelante →
  </button>
</div>


    <!-- Título -->
    <h1 class="text-4xl font-bold mb-4">{{ page.title }}</h1>

    <!-- Fecha + Tiempo -->
    <div class="text-gray-500 text-sm mb-8">
      {{ page.date | date: "%d de %B de %Y" }}
      {% if page.reading_time %}
        &nbsp;·&nbsp; {{ page.reading_time }} min de lectura
      {% endif %}
    </div>

      <!-- Contenido -->
    <article class="prose prose-lg max-w-none prose-img:rounded-xl prose-headings:font-semibold">
      {{ content }}
    </article>

  </div>
</section>
